@import "./scss/main";
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
.hand-cursor {
  cursor: pointer !important;
}
.btn {
  min-height: 20px !important;
  min-width: 100px !important;
  font-weight: bold !important;
  font-size: 20px !important;
  text-transform: unset !important;
}
.p-button {
  background: $color-success !important;
  border-color: $color-success !important;
}
.p-button:hover {
  background-color: $theme-blue-color !important;
}
html,
body {
  height: 100%;
  overflow-x: hidden !important;
  max-width: 100%;
}
body {
  margin: 0;
  font-family: "Arial, Helvetica, sans-serif";
}


.mat-card-title,
.mat-card-content {
  display: flex;
  justify-content: center;
}
.mat-card {
  transition: none !important;
  box-shadow: none !important;
}
.button {
  display: flex;
  justify-content: flex-end;
}
.default-width {
  width: 100% !important;
}

.login-page-container {
  border: 1px solid $color-success;
}
.bgimg {
  position: fixed;
  top: 0;
  left: 0;
  /* Preserve aspect ratio */
  min-width: 100%;
  min-height: 100%;
  background: url("/assets/images/bg.jpg") no-repeat center;
  background-size: cover;
}
.logo-img {
  height: 60px !important;
  width: 200px !important;
  background: url("/assets/images/logo.png") no-repeat center;
}
.error-message {
  font-size: 15px !important;
  font-family: auto !important;
  font-weight: 700 !important;
  color: $color-danger !important;
}
.input-properties {
  font-weight: 700 !important;
}
.project-theme-colour {
  color: $color-success !important;
}


.form-group {
  margin-bottom: 1rem;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}

.input-fields-label {
  font-size: 13px !important;
  font-weight: bold !important;
  color: $theme-blue-color !important;
}
.login-heading-color {
  color: $theme-blue-color !important;
}
.asterisk {
  color: $color-danger !important;
  font-weight: 900;
}
.margin-between-buttons {
  margin-right: 16px !important;
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}
.strip-properties {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
  padding-left: 20px !important;
  background-color: $theme-blue-color !important;
  color: $white !important;
  margin-left: -14px !important;
  margin-right: -14px !important;
}
.page-container {
  background-color: $page-container-color !important;
  margin-bottom: 50px !important;
  padding-bottom: 30px !important;
}
.header-propeties
{
 // background-color: $page-container-color !important;
  padding-left: 0.5rem !important;
  padding-top: 0.5rem !important;
  padding-right: 0.5rem !important;


}
.view-icon {
  color: $color-success !important;
}
.view-icon :hover {
  cursor: pointer !important;
  color: $theme-blue-color !important;
}
.edit-icon {
  color: $blue-color-primary !important;
}
.edit-icon :hover {
  cursor: pointer !important;
  color: $theme-blue-color !important;
}
.delete-icon {
  color: $color-danger !important;
}
.delete-icon :hover {
  cursor: pointer !important;
  color: $color-danger !important;
}

.header-properties {
  padding-top: 40px !important;
  padding-bottom: 11px !important;
  padding-left: 20px !important;
  background-color: $theme-blue-color !important;
  color: $white !important;
  margin-left: 100px !important;
  margin-right: 100px !important;
}
tr {
  outline: thin solid $black;
}
.btn-align {
  float: right !important;
}
.text-centre-align {
  text-align: center !important;
}
.p-dropdown {
  background: $white;
  border: 1px solid #ced4da;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  border-radius: 6px;
}
.p-dropdown-item {
  background-color: $white;
}
.p-dropdown-item:hover {
  background-color: $grey-2;
}
.login-button-padding {
  padding-left: 20px !important;
}

.login-controls-margin {
  margin-left: 8rem !important;
  margin-right: 8rem !important;
}
.login-section {
  margin-top: 4rem;
  margin-left: 20rem;
  margin-right: 20rem;
}
.ui-confirmdialog {
  z-index:100000 !important
}
.bgColorChange {
  background-color: $confirmation-box-bg;
}
.logout-img {
  height: 60px !important;
  width: 200px !important;
  background: url("/assets/images/logout.png") no-repeat center;
}
.logout-img:hover {
  height: 60px !important;
  width: 200px !important;
  background: url("/assets/images/logout.png") no-repeat center;
  content: Logout;
  cursor: pointer !important;
}


// header styles

header {
  font-size: 13px;    
  background-color: $white;
  border-bottom: 1px solid $color-primary;
  position: relative;

  @media(max-width: 767px) {
      width: 100%;
      max-width: 100%;
      position: fixed;
      z-index: 9;
  }

  .topBarWrap{        
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
 
      @media (max-width: 767px) {
          padding-top: 0;
          padding-bottom: 0;
      }        
      .leftSide{
          display: flex;
          align-items: flex-end;                        
          color: $color-secondary;
          text-decoration: none;
          line-height: 16px;
          font-size: 18px;
              
              @media (max-width: 767px) {
                  margin: 20px 0;
              } 
          }
          .logoWrap {
              width: auto;
              padding: 0;
                                         
              img {
                  width: auto;
                  display: inline-block;
                  margin-right: 5px;
                  border: none;
          }
      }
      .riteSide{
          display: flex;
          position: relative;
          
          @media (max-width: 767px) {
              align-items: center;
              
          }
          .navbar{
              background-color: transparent;

              .navbar-toggler{
                  @media (max-width: 767px) {
                      position: relative;
                      top: 0;
                      margin-left: 14px;
                      margin-right: 0;
                  }
              }
          }
          .userProfile{
              @media (max-width: 767px) {
                  font-size: 24px;
              }
          }
          ul{
              list-style: none;
              margin: 0;
              
              li{
                  display: inline-block;
                  font-weight: 600;
                  margin-left: 15px;
                  padding-left: 15px;
                  position: relative;
                                      
                  &:before{
                      content: '';
                      width: 1px;
                      height: 60%;
                      background-color: $grey-3;
                      position: absolute;
                      top: 50%;
                      left: 0;
                      transform: translateY(-50%);                        
                  }
                  &:first-child{
                      @media (max-width: 767px) {
                          margin-left: 0;
                          padding-left: 0;
                      }
                      &:before{
                          display: none;
                      }
                  }
                  i{
                      font-size: 16px;
                      margin-right: 5px;
                  }
                  a{
                      font-weight: 600;
                  }
              }
          }            

      }        
  }
  .navbar{
      padding: 0 10px;
      background-color: $menu-bgcolor-primary;
      
      @media (max-width: 767px) {
          padding-left: 0;
          padding-right: 0;
      }
      .container-fluid{
          @media (max-width: 767px) {
              padding: 0;
          }
      }
      .navbar-nav{
          .nav-item {
              position: relative;
              &:hover{
                  display: block;
              }              
              &:last-child{
                  .nav-link{        
                      margin-right: 0;
                      @media(max-width: 767px){
                          border-bottom: 0;
                      }
                  }
                  &:after{
                      display: none;
                  }                       
              }
          }
          .nav-link{
              color: $white;
              line-height: normal;
              padding: 8px;
              margin-right: 20px;
              position: relative;

              @media (max-width: 767px) {
                  font-size: 14px;
                  color: $white;
                  padding: 12px;
                  margin: 0;
                  background-color: $menu-bgcolor-primary;
                  border-bottom: 1px solid $grey-1;
              } 
              @media(min-width: 768px) and (max-width: 991px){
                  margin-right: 15px;
              }      
              &:hover,
              &:focus{
                  @media (min-width: 768px) { 
                      color: $menu-bgcolor-secondary;
                  }
                 
                  @media (max-width: 767px) {                        
                      background-color: $menu-bgcolor-primary-hover;
                  }
              }
          }
      }
      .dropdown-toggle{
          &:after{
              width: 8px;
              margin-left: .255em;
              vertical-align: 2px;
              border-bottom: 0;
              border-left: 4px solid transparent;
              border-right: 4px solid transparent;
              border-top: 4px solid;      
              @media (max-width: 767px) {   
                  position: absolute;
                  right: 15px;
                  top: 50%;
                  transform: translateY(-50%);
              }          
          }         
      }
      .navbar-toggler {
          padding: 0 0;
          height: 20px;
          width: 20px;
          right: 24px;
          position: absolute;
          outline: none;
          background-color: transparent;
  
          @media (max-width: 767px) {
              position: absolute;
              right: 0;
              top: -50px;
              border: 0;
          }
  
          @media (max-width: 1199px) {
              margin-right: 15px;
              min-width: auto;
              outline: none;
          }

          .nav-icon {
              width: 20px;
              position: relative;
              -webkit-transform: rotate(0deg);
              -moz-transform: rotate(0deg);
              -o-transform: rotate(0deg);
              transform: rotate(0deg);
              -webkit-transition: .5s ease-in-out;
              -moz-transition: .5s ease-in-out;
              -o-transition: .5s ease-in-out;
              transition: .5s ease-in-out;
              cursor: pointer;
              top: -10px;

              span {
                  display: block;
                  position: absolute;
                  height: 1px;
                  width: 100%;
                  background: #2d3e6a;
                  border-radius: 9px;
                  opacity: 1;
                  left: 0;
                  -webkit-transform: rotate(0deg);
                  -moz-transform: rotate(0deg);
                  -o-transform: rotate(0deg);
                  transform: rotate(0deg);
                  -webkit-transition: .25s ease-in-out;
                  -moz-transition: .25s ease-in-out;
                  -o-transition: .25s ease-in-out;
                  transition: .25s ease-in-out;

                  &:nth-child(1) {
                      top: 10px;
                      width: 0%;
                      left: 50%;

                  }

                  &:nth-child(2),
                  &:nth-child(3) {
                      top: 10px;
                  }

                  &:nth-child(2) {
                      transform: rotate(45deg);
                  }

                  &:nth-child(3) {
                      transform: rotate(-45deg);
                  }

                  &:nth-child(4) {
                      top: 18px;
                      width: 0%;
                      left: 50%;
                  }
              }
          }

          &.collapsed {
              .nav-icon {
                  span {

                      &:nth-child(1) {
                          top: 2px;
                          width: 100%;
                          left: 0%;
                      }

                      &:nth-child(2) {
                          transform: rotate(0);
                      }

                      &:nth-child(3) {
                          transform: rotate(0);
                      }

                      &:nth-child(4) {
                          top: 18px;
                          width: 100%;
                          left: 0;
                      }
                  }
              }
          }
      }
      .dropdown-menu{
          padding: 0;
          border-radius: 0;
          margin-top: 0;
  
          @media(max-width: 767px){
              border: 0;
          }

      }
      .dropdown-item{
          font-size: 13px;
          border-bottom: 1px solid $grey-2;

          &:hover,
          &:focus{
              color: $white;                

              @media(min-width: 1199px){
                  background-color: $menu-bgcolor-primary-hover;
              }
              @media(max-width: 767px){
                  background-color: $menu-bgcolor-primary;
              }
          }
      }
  }    
}

