<div class="container page-container">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <button pButton pRipple type="submit" class="btn btn-success p-button-rounded 
                        hand-cursor  margin-between-buttons btn-align" tabindex="0" *ngIf="showAddButton"
                (click)="GetConfigMasterForm()">
                <span class="fa fa-plus"></span>
                &nbsp;{{'AddNewConfig' | translate }}</button>

            <button pButton pRipple type="submit" class="btn btn-success p-button-rounded 
                        hand-cursor margin-between-buttons btn-align" tabindex="0" *ngIf="showAllConfigButton"
                (click)="GetAllConfigList()">
                <i class="fa fa-arrow-up"></i>
                &nbsp;{{'AllConfigs' | translate }}</button>

        </div>
    </div>

    <div class="container" *ngIf="showConfigMasterForm">
        <mat-card>
            <mat-card-title class="strip-properties mb-4">{{configTitle}}</mat-card-title>
            <form [formGroup]="ConfigMasterForm">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 form-group">
                        <label class="asterisk">{{'AllFieldRequired' | translate}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-6 form-group">
                        <label for="key" class="input-fields-label">{{'ConfigKey' | translate }}<span
                                class="asterisk">*</span></label>
                        <!-- <p-dropdown [options]="distinctConfig" formControlName="ConfigKey" class="input-properties"
                            autocomplete="off" tabindex="0" id="name" maxlength="100"
                            (keypress)="DenySpecialChar($event)" [(ngModel)]="selectedConfig"
                            [ngClass]="{'is-invalid': submitted && configControls.ConfigKey.errors}"
                            optionLabel="configKey" [filter]="true" filterBy="configKey" [showClear]="false"
                            placeholder="{{'Select' | translate }}">
                            <ng-template pTemplate="selectedItem">
                                <div *ngIf="selectedConfig">
                                    <div>{{selectedConfig.configKey}}</div>
                                </div>
                            </ng-template>
                            <ng-template let-config pTemplate="item">
                                <div>
                                    <div>{{config.configKey}}</div>
                                </div>
                            </ng-template>
                        </p-dropdown> -->
                        <input type="text" formControlName="ConfigKey" class="input-properties" autocomplete="off"
                            maxlength="100" (keypress)="DenySpecialChar($event)" (keydown.space)="$event.preventDefault();"
                            placeholder="{{'ConfigKey' | translate }}" tabindex="0" id="key"
                            [ngClass]="{'is-invalid': submitted && configControls.ConfigKey.errors}" pInputText />
                        <div class="error-message" *ngIf="submitted && configControls.ConfigKey.errors">
                            <div *ngIf="configControls.ConfigKey.errors.required">
                                {{'ConfigKey' | translate }} {{requiredMessage}}
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 form-group">
                        <label for="value" class="input-fields-label">{{'ConfigValue' | translate }}<span
                                class="asterisk">*</span></label>
                        <input type="text" formControlName="ConfigValue" class="input-properties" autocomplete="off"
                            maxlength="100" (keypress)="DenySpecialChar($event)"
                            placeholder="{{'ConfigValue' | translate }}" tabindex="0" id="value"
                            (keydown)="HandleFirstPlaceSpace($event)"
                            [ngClass]="{'is-invalid': submitted && configControls.ConfigValue.errors}" pInputText />
                        <div class="error-message" *ngIf="submitted && configControls.ConfigValue.errors">
                            <div *ngIf="configControls.ConfigValue.errors.required">
                                {{'ConfigValue' | translate }} {{requiredMessage}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" *ngIf="showSaveResetButton">
                    <div class="col-12 col-sm-7 col-md-7"></div>
                    <div class="col-12 col-sm-1 col-md-1">
                        <button pButton pRipple type="reset"
                            class="btn btn-success hand-cursor default-width margin-between-buttons" tabindex="0"
                            (click)="ResetConfigMasterForm()"> <i class="fa fa-undo" aria-hidden="true"></i>
                            &nbsp;{{'Reset' |translate }}</button>
                    </div>
                    <div class="col-12 col-sm-2 col-md-2"></div>
                    <div class="col-12 col-sm-1 col-md-1">
                        <button pButton pRipple type="submit"
                            class="btn btn-success hand-cursor default-width margin-between-buttons" tabindex="0"
                            (click)="SaveConfigInformation()">
                            <i class="fa fa-save"></i>
                            &nbsp;{{'Save' | translate }}</button>
                    </div>
                </div>

            </form>
        </mat-card>
    </div>

    <div class="container mt-2" *ngIf="showAllConfigs">
        <mat-card>
            <mat-card-title class="strip-properties mb-4">{{'AllConfigs' | translate }}</mat-card-title>
            <mat-card-content>
                <p-table #dataTable [columns]="cols" [value]="configs" [paginator]="true" [rows]="rows"
                    [rowsPerPageOptions]="rowsPerPageOptions" [showCurrentPageReport]="true"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" pageLinks="3"
                    [reorderableColumns]="true" [resizableColumns]="true" responsive="true">
                    <ng-template pTemplate="caption">

                        <div class="row mt-2">
                            <div class="col-sm-12 col-md-6">
                                <input type="text" autocomplete="off" tabindex="0" class="input-properties"
                                    class="p-inputtext-lg"
                                    (input)="dataTable.filterGlobal($event.target.value, 'contains')"
                                    placeholder="{{'Global Filter' | translate }}" pInputText />
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="btn-group downloadOptionWrap btn-align">
                                    <button type="submit" pButton pRipple class="btn btn-success p-button-rounded 
                                    hand-cursor margin-between-buttons dropdown-toggle" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        {{'DownloadData'|translate}}
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li>
                                            <button class="dropdown-item" type="button"
                                                (click)="ExportExcelVisibleData(dataTable)">
                                                <i class="fa fa-download mr-1"></i>
                                                &nbsp;{{'DownloadinExcel'|translate}}
                                            </button>
                                        </li>
                                        <li>
                                            <button class="dropdown-item" type="button"
                                                (click)="ExportPDFVisibleData(dataTable)">
                                                <i class="fa fa-download mr-1"></i>&nbsp; {{'DownloadinPDF' |translate}}
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </ng-template>
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th class="input-fields-label" *ngFor="let col of columns" [pSortableColumn]="col.field"
                                [ngStyle]="{'display' : col.display}" [pSortableColumn]="col.field" pReorderableColumn
                                pResizableColumn>
                                {{col.header}}
                                <p-sortIcon [field]="col.field"></p-sortIcon>
                            </th>
                            <th scope="col" class="text-centre-align input-fields-label">{{'Action' |
                                translate }}</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-configs let-columns="columns" let-editing="editing"
                        let-rowIndex="rowIndex">
                        <tr>
                            <td *ngFor="let col of columns" [ngStyle]="{'display' : col.display}">
                                {{configs[col.field]}}
                            </td>
                            <td class="text-center">
                                <span class="fa fa-eye view-icon hand-cursor" tooltip="View"
                                    (click)="ViewConfigMasterForm(configs)"></span>
                                &nbsp; &nbsp;
                                <span class="fa fa-edit edit-icon hand-cursor" tooltip="Edit"
                                    (click)="EditConfigMasterForm(configs)"></span>
                                &nbsp; &nbsp;
                                <span class="fa fa-trash delete-icon hand-cursor" tooltip="Delete"
                                    (click)="DeleteConfigConfirmation(configs.configId)"></span>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </mat-card-content>
        </mat-card>
    </div>



    <p-confirmDialog [style]="{width: '30vw'}" styleClass="bgColorChange"></p-confirmDialog>
</div>