<div class="container page-container">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <button pButton pRipple type="submit" class="btn btn-success p-button-rounded 
                        hand-cursor  margin-between-buttons btn-align" tabindex="0" *ngIf="showAddButton"
                (click)="GetRoleMasterForm()">
                <span class="fa fa-plus"></span>
                &nbsp;{{'AddNewRole' | translate }}</button>

            <button pButton pRipple type="submit" class="btn btn-success p-button-rounded 
                        hand-cursor margin-between-buttons btn-align" tabindex="0" *ngIf="showAllRoleButton"
                (click)="GetAllRolesList()">
                <i class="fa fa-arrow-up"></i>
                &nbsp;{{'AllRoles' | translate }}</button>

        </div>
    </div>

    <div class="container" *ngIf="showRoleMasterForm">
        <mat-card>
            <mat-card-title class="strip-properties mb-4">{{roleTitle}}</mat-card-title>
            <form [formGroup]="RoleMasterForm">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 form-group">
                        <label class="asterisk">{{'AllFieldRequired' | translate}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-6 form-group">
                        <label for="name" class="input-fields-label">{{'RoleName' | translate }}<span
                                class="asterisk">*</span></label>
                        <input type="text" formControlName="RoleName" class="input-properties" autocomplete="off"
                            tabindex="0" id="name" maxlength="100" (keypress)="DenySpecialChar($event)"
                            (keydown)="HandleFirstPlaceSpace($event)"
                            placeholder="{{'RoleName' | translate }}"
                            [ngClass]="{'is-invalid': submitted && roleControls.RoleName.errors}" pInputText />
                        <div class="error-message" *ngIf="submitted && roleControls.RoleName.errors">
                            <div *ngIf="roleControls.RoleName.errors.required">
                                {{'RoleName' | translate }} {{requiredMessage}}
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 form-group">
                        <label for="description" class="input-fields-label">{{'RoleDescription' | translate }}</label>
                        <input type="text" formControlName="RoleDescription" class="input-properties" autocomplete="off"
                            maxlength="200" (keypress)="DenySpecialChar($event)"
                            (keydown)="HandleFirstPlaceSpace($event)" placeholder="{{'RoleDescription' | translate }}"
                            tabindex="0" id="description" pInputText />
                    </div>
                </div>

                <div class="row" *ngIf="showSaveResetButton">
                    <div class="col-12 col-sm-7 col-md-7"></div>
                    <div class="col-12 col-sm-1 col-md-1">
                        <button pButton pRipple type="reset"
                            class="btn btn-success hand-cursor default-width margin-between-buttons" tabindex="0"
                            (click)="ResetRoleMasterForm()"> <i class="fa fa-undo" aria-hidden="true"></i>
                            &nbsp;{{'Reset' |translate }}</button>
                    </div>
                    <div class="col-12 col-sm-2 col-md-2"></div>
                    <div class="col-12 col-sm-1 col-md-1">
                        <button pButton pRipple type="submit"
                            class="btn btn-success hand-cursor default-width margin-between-buttons" tabindex="0"
                            (click)="SaveRoleInformation()">
                            <i class="fa fa-save"></i>
                            &nbsp;{{'Save' | translate }}</button>
                    </div>
                </div>

            </form>
        </mat-card>
    </div>

    <div class="container mt-2" *ngIf="showAllRoles">
        <mat-card>
            <mat-card-title class="strip-properties mb-4">{{'AllRoles' | translate }}</mat-card-title>
            <mat-card-content>
                <p-table #dataTable [columns]="cols" [value]="roles" [paginator]="true" [rows]="rows"
                    [rowsPerPageOptions]="rowsPerPageOptions" pageLinks="3" [reorderableColumns]="true"
                    [showCurrentPageReport]="true"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [resizableColumns]="true" responsive="true">
                    <ng-template pTemplate="caption">

                        <div class="row mt-2">
                            <div class="col-sm-12 col-md-6">
                                <input type="text" autocomplete="off" tabindex="0" class="input-properties"
                                    class="p-inputtext-lg"
                                    (input)="dataTable.filterGlobal($event.target.value, 'contains')"
                                    placeholder="{{'Global Filter' | translate }}" pInputText />
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="btn-group downloadOptionWrap btn-align">
                                    <button type="submit" pButton pRipple class="btn btn-success p-button-rounded 
                                    hand-cursor margin-between-buttons dropdown-toggle" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        {{'DownloadData'|translate}}
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li>
                                            <button class="dropdown-item" type="button"
                                                (click)="ExportExcelVisibleData(dataTable)">
                                                <i class="fa fa-download mr-1"></i>
                                                &nbsp;{{'DownloadinExcel'|translate}}
                                            </button>
                                        </li>
                                        <li>
                                            <button class="dropdown-item" type="button"
                                                (click)="ExportPDFVisibleData(dataTable)">
                                                <i class="fa fa-download mr-1"></i>&nbsp; {{'DownloadinPDF' |translate}}
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </ng-template>
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th class="input-fields-label" *ngFor="let col of columns" [pSortableColumn]="col.field"
                                [ngStyle]="{'display' : col.display}" [pSortableColumn]="col.field" pReorderableColumn
                                pResizableColumn>
                                {{col.header}}
                                <p-sortIcon [field]="col.field"></p-sortIcon>
                            </th>
                            <th scope="col" class="text-centre-align input-fields-label">{{'Action' |
                                translate }}</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-roles let-columns="columns" let-editing="editing"
                        let-rowIndex="rowIndex">
                        <tr>
                            <td *ngFor="let col of columns" [ngStyle]="{'display' : col.display}">
                                {{roles[col.field]}}
                            </td>
                            <td class="text-center">
                                <span class="fa fa-eye view-icon hand-cursor" tooltip="View"
                                    (click)="ViewRoleMasterForm(roles)"></span>
                                &nbsp; &nbsp;
                                <span class="fa fa-edit edit-icon hand-cursor" tooltip="Edit"
                                    (click)="EditRoleMasterForm(roles)"></span>
                                &nbsp; &nbsp;
                                <span class="fa fa-trash delete-icon hand-cursor" tooltip="Delete"
                                    (click)="DeleteRoleConfirmation(roles.roleId)"></span>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </mat-card-content>
        </mat-card>
    </div>



    <p-confirmDialog [style]="{width: '30vw'}" styleClass="bgColorChange"></p-confirmDialog>
</div>