@import '../scss/color';
  .btn {
    font-family: $font-primary;
    font-size: 13px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 4px 10px;
    background: $btn-primary;
    border-color: $btn-primary;
    box-shadow: none !important;
    border-radius: 3px;
}

.show {
    >.btn-primary {

        &.dropdown-toggle {
            background-color: $btn-primary;
            border-color: $btn-primary;
            -moz-box-shadow: none !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
            outline-width: 0
        }
    }
}

.btn-primary {
    background-color: $btn-primary;
    border-color: $btn-primary;

    &:disabled {
        background-color: $btn-primary;
        border-color: $btn-primary;

        &:hover {
            cursor: not-allowed;
            background-color: $btn-primary;
            border-color: $btn-primary;
        }
    }

    &:hover,
    &.focus,
    &:focus,
    &.active,
    &:active,
    &:not(:disabled):not(.disabled).active,
    &:not(:disabled):not(.disabled):active {
        background-color: $btn-primary-hover;
        border-color: $btn-primary-hover;
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        outline-width: 0
    }
}

.btn-secondary {
    color: $color-primary;
    background-color: $white;
    border-color: $btn-primary;

    &.focus,
    &:focus {
        color: $color-primary;
        background-color: $white;
        border-color: $btn-primary;
        box-shadow: none !important;
        outline-width: 0
    }

    &:hover,
    &.active,
    &:active,
    &:not(:disabled):not(.disabled).active,
    &:not(:disabled):not(.disabled):active {
        color: $white;
        background-color: $btn-primary;
        border-color: $btn-primary;        
        box-shadow: none !important;
        outline-width: 0
    }
    &:disabled {
        background-color: $btn-primary;
        border-color: $btn-primary;

        &:hover {
            cursor: not-allowed;
            background-color: $btn-primary;
            border-color: $btn-primary;
        }
    }
}

.form-group {
    margin-bottom: 0;
}
.alert{
    font-family: $font-primary;
    font-size: 13px;
    padding: 5px 30px 5px 10px;

    .btn-close{
        padding: 10px;
    }
}