.p-dialog{
    .p-dialog-header{
        color: $black;
        padding: 5px 7px 5px 15px;
        background: $dialog-header-bg;
        
        .p-dialog-header-icon{
            color: $black;
        }
    }
    .p-dialog-content{
        padding: 5px 15px 15px 15px;
        .setionWrap{
            padding: 0;
        }
        div[class^="col"] {
            padding-top: 0;
        }
    }
    .p-dialog-footer{
        padding: 10px 15px;
        border-top: 1px solid $grey-1;
        
        button{
            margin-right: 0;
            margin-left: 15px;
        }
    }
    &.configurationEditDialog{
        > .p-dialog-content{
            padding: 0;
        }
    }
}