::placeholder {
    color: $grey-2;
    letter-spacing: 1px;
}

:-ms-input-placeholder {
    color: $grey-2;
}

::-ms-input-placeholder {
    color: $grey-2;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  transition: background-color 5000s ease-in-out 0s;
}

.form-control {
    font-size: 12px;
    &.is-invalid{
        padding-right: 5px;
        background-image: none;
    }
    &:disabled, 
    &[readonly] {
        background-color: $form-disabled-color;
    }
}
.was-validated{
    .form-control{
        &:invalid{
            padding-right: 5px;
            background-image: none;
        }
    } 
}
.invalid-feedback{
    font-family: $font-primary;
    font-size: 11px;
    line-height: normal;
}
label{
    display: block;
    font-family: $font-primary;
    font-size: 13px;    
    color: $label-color;    
}
.p-inputtext,
.p-dropdown{
    font-family: $font-primary;    
    font-size: 13px;
    padding: 3px 8px;
    width: 100%;
    line-height: 24px;
}
.p-multiselect{
    @extend .p-inputtext;
    padding-right: 0;

    .p-multiselect-label{
        padding: 0;
    }
    .p-multiselect-trigger{
        width: auto;
        padding: 0 6px 0 4px;
    }

}
.p-dropdown{
    padding-right: 0;
    .p-inputtext{
        padding: 0;
    }
    .p-dropdown-trigger{
        width: auto;
        padding: 0 6px 0 4px;
    }
    &.p-disabled{
        background: $form-disabled-color;
        opacity: 1;
    }
}
.p-dropdown-panel{
    .p-dropdown-items{
        .p-dropdown-empty-message {
            padding: 5px 8px;
        }
        .p-dropdown-item {
            font-size: 13px;
            padding: 5px 10px;
            line-height: 20px;
            white-space: normal;
        }
    }
}
.p-multiselect-panel{
    .p-multiselect-header{
        padding: 5px 8px;
        
    }
    .p-multiselect-items{
        padding: 0;
        .p-multiselect-item{
            font-family: $font-primary;
            font-size: 13px;
            padding: 5px 8px;
        }
    }
}
.p-inputwrapper-filled{
    &.ng-dirty{
        &.ng-invalid{
            > .p-dropdown {
                border-color: $color-danger;
            }
        }
    }
}
.p-calendar{
    width: 100%;
    .p-button{
        padding: 0;
        color: $black;
        border-color: $border-color;
        background: $grey-4;
    }
}
.p-button{
    font-family: $font-primary;
    font-size: 13px;
    text-transform: uppercase;
    padding: 4px 10px;
    background: $btn-primary;
    border-color: $btn-primary;
    box-shadow: none !important;
    
    &:hover:enabled,
    &:enabled:active{
        background: $btn-primary-hover;
        border-color: $btn-primary-hover;
    }
    
    &.p-button-outlined{
        color: $btn-primary;
        border-color: $btn-primary;
    }
}
.p-button-info{
    &.btn-download{
        background: $btn-download;
        border-color: $btn-download;
        &:hover:enabled,
        &:enabled:active{
            background: $btn-download-hover;
            border-color: $btn-download-hover;
        }
    }

}
.calendarIcon-dd{
    font-size: 13px;
    position: relative;
    cursor: pointer;

    i{
        position: absolute;
        right: 10px;
        top: 10px;        
    }
    .dateClearWrap{
        i{
            top: 11px;
            right: 30px;
        }
    }
    input{
        @extend .p-inputtext;
        cursor: pointer;
    }
    .dp-material{
        display: block;
    }
}
.viewOnlyField{
    font-weight: 400;
    color: #212529;
    background-clip: padding-box;
    appearance: none;
    border-radius: .25rem;
    height: 32px;
    
    @extend .p-inputtext;
    border: 1px solid  $border-color;
    background-color: $form-disabled-color;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: default;
}
.downloadOptionWrap{
    .dropdown-menu{
        padding: 0;
        transform: none !important;
        inset: 36px 0 auto auto !important;
        box-shadow: $box-shadow-secondary;        

        .dropdown-item{
            font-size: 13px;
            margin-left: 0;
            padding: 4px 10px;
            &:hover,
            &:focus{                    
                color: $white;
                background-color: $menu-bgcolor-primary;
            }
        }
    }
}