.p-datatable{
    font-family: $font-primary;
    font-size: 13px;
    box-shadow: $box-shadow-primary;
    .p-datatable-header{
        padding: 0 10px;
        
        .p-multiselect{            
            .p-multiselect-label{
                padding: 2px 5px;
            }
        }
    }
    table{
        .p-datatable-thead{
            tr{
                th{
                    padding: 5px 10px;
                    white-space: normal;
                    border-right: 1px solid $grey-1;

                    &:last-child{
                        border-right: 0;
                    }
                    .pi{
                        font-size: 12px;
                        margin-left: 0;
                    }
                }
                &:first-child{
                    th{
                        color: $black;
                        background-color: $table-head-color;
                    }
                }
            }
            .p-sortable-column{
                box-shadow: none !important;
        
                .p-sortable-column-icon{
                    color: $black;
                }
                &.p-highlight {                
        
                    &:hover {
                        color: $white;
                        background: $table-head-hover-color;
                        
                        .p-sortable-column-icon{
                            color: $white;
                        }
                    }               
                }
                &:not(.p-highlight):hover {
                    color: $white;
                    background: $table-head-hover-color;
                    
                    .p-sortable-column-icon{
                        color: $white;
                    }
                }
            }
            button[label='Clear']{
                font-size: 12px;
                padding: 2px 6px;
                .pi{
                    font-size: 12px;
                    margin-right: 5px;
                }
            }
        }
        .p-datatable-tbody{
            tr{
                td{
                    line-height: 20px;
                    padding: 8px 10px;
                    white-space: normal;
                    border-right: 1px solid $grey-1;
                    
                    &:last-child{
                        border-right: 0;
                    }                    
                    .p-button{
                        &.p-button-icon-only{
                            &.p-button-rounded{
                                height: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
    
    .p-paginator{
        font-family: $font-primary;
        font-size: 13px;
        padding: 4px 16px;
        
        @media (max-width: 767px){
            padding: 4px 0 10px 0;
        }
        .p-paginator-first,
        .p-paginator-prev,
        .p-paginator-next,
        .p-paginator-last{
            background-color: $grey-1;

            @media (max-width: 767px){
                min-width: 30px;
            }
        }
        .p-paginator-current{
            height: 26px;
            @media (max-width: 767px){
                width: 100%;
            }
            @media (min-width: 768px){
                padding-left: 0;
                margin-left: 0;
            }
        }
        button{
            height: 26px;

            &.p-paginator-first:not(.p-disabled):not(.p-highlight):hover,
            &.p-paginator-prev:not(.p-disabled):not(.p-highlight):hover, 
            &.p-paginator-next:not(.p-disabled):not(.p-highlight):hover, 
            &.p-paginator-last:not(.p-disabled):not(.p-highlight):hover{
                background: $table-head-color;
                border-color: $table-head-color;
            }
            &.p-link{
                font-family: $font-primary;               
                &:focus{
                    box-shadow: none;
                }
            }
        }
        .p-dropdown{
            width: auto;
            height: 26px;
            padding: 0;
            align-items: center;
            @media (max-width: 767px){
                margin-top: 5px;
            }      
            .p-inputtext{
                padding-left: 4px;
            }
        }
        .p-dropdown-trigger{
            width: auto;
            padding: 2px 5px;
        }
        .p-paginator-pages{
            button{
                height: 24px; 
                background-color: $grey-1;
                
                @media (max-width: 767px){
                    min-width: 34px;
                }                              
            }
            .p-paginator-page{                
                &.p-highlight{
                    background: $table-head-color;
                    border-color: $table-head-color;
                }
                &:not(.p-highlight):hover{
                    background: $table-head-color;
                    border-color: $table-head-color;
                }
            }
        }
    }
}

.action-col{
    width: 100px;
}
.cto-col{
    width: 150px;
}
.workOrder-col{
    width: 200px;
}
.sowName-col{
    width: 400px;    
}
.resourceName-col{
    width: 250px;    
}
.gender-col{
    width: 120px;
}
.empId-iris-col{
    width: 170px;
}
.soeId-col{
    width: 120px;
}
.joinDate-iris-col{
    width: 170px;
}
.immigrationStatus-col{
    width: 180px;
}
.ethnicity-col{
    width: 140px;
}
.location-col{
    width: 150px;
}
.actualCityLocation-col{
    width: 170px;
}
.locationType-col{
    width: 140px;
}
.recordId-col{
    width: 120px;
}
.rate-col{
    width: 90px;
}
.rateType-col{
    width: 110px;
}
.daysType-col{
    width: 110px;
}
.actualRate-col{
    width: 135px;
}
.bisRate-col{
    width: 110px;
}
.sowRate-col{
    width: 120px;
}
.startDate-col{
    width: 100px;
}
.endDate-col{
    width: 100px;
}
.monthlyRate-col{
    width: 95px;
}
.updatedDate-col{
    width: 150px;
}
.projectName-col{
    width: 200px;
}
.billableValue-col{
    width: 100px;
}
.employmentType-col{
    width: 120px;
}
.totalCost-col{
    width: 120px;
}
.rateCardRate-col{
    width: 150px;
}
.gtrsRole-col{
    width: 220px;
}
.experience-col{
    width: 170px;
}
.toolsAndTechnology-col{
    width: 250px;
}
.pSkills-col{
    width: 170px;
}
.remarks-col{
    width: 300px;
}
