@import '../scss/typography';

.custom-toast {
    .p-toast{
        width: 300px;

        .p-toast-message {
            font-family: $font-primary;
            .p-toast-message-content{
                padding: 10px;
                .p-toast-message-icon{
                    font-size: 20px;    
                }
                .p-toast-message-text{
                    margin-left: 10px;
                    .p-toast-detail {
                        font-size: 13px;
                        line-height: normal;
                        margin-top: 0;
                    }
                }
            }
        }
    }
}