@import '../scss/color';

$font-primary: Arial, Helvetica, sans-serif;
$font-awesome: "Font Awesome 5 Free";
$box-shadow-primary: 0px 3px 3px 1px #dee0e2;
$box-shadow-secondary: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

h1 {
    font-size: 22px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: $font-primary;
    // font-weight: bold;
    color: $color-primary;
    padding: 0;
    margin: 0;

}