<div class="container page-container">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <button pButton pRipple type="submit" class="btn btn-success p-button-rounded 
                        hand-cursor  margin-between-buttons btn-align" tabindex="0" *ngIf="showAddButton"
                (click)="GetUserMasterForm()">
                <span class="fa fa-plus"></span>
                &nbsp;{{'AddNewUser' | translate }}</button>

            <button pButton pRipple type="submit" class="btn btn-success p-button-rounded 
                        hand-cursor margin-between-buttons btn-align" tabindex="0" *ngIf="showAllUsersButton"
                (click)="GetAllUsersList()">
                <i class="fa fa-arrow-up"></i>
                &nbsp;{{'AllUsers' | translate }}</button>
        </div>
    </div>

    <div class="container" *ngIf="showUsersMasterForm">
        <mat-card>
            <mat-card-title class="strip-properties mb-4">{{userTitle}}</mat-card-title>
            <mat-card-content>
                <form [formGroup]="UserInformationForm">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                            <label class="asterisk">{{'AllFieldRequired' | translate}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                            <label for="name" class="input-fields-label">{{'UserName' | translate }}<span
                                    class="asterisk">*</span></label>
                            <input type="text" formControlName="UserName" class="input-properties" autocomplete="off"
                                tabindex="0" id="name" placeholder="{{'UserName' | translate }}" maxlength="100"
                                (keydown)="HandleFirstPlaceSpace($event)" (keypress)="DenySpecialChar($event)"
                                [ngClass]="{'is-invalid': submitted && userInfoControls.UserName.errors}" pInputText />
                            <div class="error-message" *ngIf="submitted && userInfoControls.UserName.errors">
                                <div *ngIf="userInfoControls.UserName.errors.required">
                                    {{'UserName' | translate }} {{requiredMessage}}
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 p-field form-group">
                            <label for="dob" class="input-fields-label">{{'DateOfBirth' | translate }}<span
                                    class="asterisk">*</span></label>
                            <input type="text" formControlName="DateOfBirth" class="input-properties form-control"
                                autocomplete="off" tabindex="0" id="dob" placeholder="dd/mm/yyyy"
                                [ngClass]="{'is-invalid': submitted && userInfoControls.DateOfBirth.errors}"
                                [maxDate]="maxDate" [bsConfig]="{ isAnimated: true, dateInputFormat: 'DD/MM/YYYY' }"
                                bsDatepicker>
                            <div class="error-message" *ngIf="submitted && userInfoControls.DateOfBirth.errors">
                                <div *ngIf="userInfoControls.DateOfBirth.errors.required">
                                    {{'DateOfBirth' | translate }} {{requiredMessage}}
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                            <label for="gender" class="input-fields-label">{{'Gender' | translate }}<span
                                    class="asterisk">*</span></label>
                            <p-dropdown [options]="GenderList" formControlName="Gender" class="input-properties"
                                tabindex="0" id="gender" optionLabel="value" optionValue="label"
                                [ngClass]="{'is-invalid': submitted && userInfoControls.Gender.errors}"></p-dropdown>
                            <div class="error-message" *ngIf="submitted && userInfoControls.Gender.errors">
                                <div *ngIf="userInfoControls.Gender.errors.required">
                                    {{'Gender' | translate }} {{requiredMessage}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                            <label for="maritalstatus" class="input-fields-label"> {{'MaritalStatus' | translate }}<span
                                    class="asterisk">*</span></label>
                            <p-dropdown [options]="MaritalStatusList" formControlName="MaritalStatus"
                                class="input-properties" tabindex="0" id="maritalstatus" optionLabel="value"
                                optionValue="label"
                                [ngClass]="{'is-invalid': submitted && userInfoControls.MaritalStatus.errors}">
                            </p-dropdown>
                            <div class="error-message" *ngIf="submitted && userInfoControls.MaritalStatus.errors">
                                <div *ngIf="userInfoControls.MaritalStatus.errors.required">
                                    {{'MaritalStatus' | translate }} {{requiredMessage}}
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                            <label for="bloodroup" class="input-fields-label">{{'BloodGroup' | translate }}</label>
                            <p-dropdown [options]="BloodGroupList" formControlName="BloodGroup" class="input-properties"
                                tabindex="0" id="bloodroup" optionLabel="value" optionValue="label"></p-dropdown>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                            <label for="spousename" class="input-fields-label">{{'SpouseName' | translate }}</label>
                            <input type="text" formControlName="SpouseName" class="input-properties" autocomplete="off"
                                (keydown)="HandleFirstPlaceSpace($event)" (keypress)="DenySpecialChar($event)"
                                maxlength="100" tabindex="0" id="spousename" placeholder="{{'SpouseName' | translate }}"
                                pInputText />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                            <label for="fathername" class="input-fields-label">{{'FatherName' | translate }}</label>
                            <input type="text" formControlName="FatherName" class="input-properties" autocomplete="off"
                                (keydown)="HandleFirstPlaceSpace($event)" (keypress)="DenySpecialChar($event)"
                                maxlength="100" tabindex="0" id="fathername" placeholder="{{'FatherName' | translate }}"
                                pInputText />
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                            <label for="mothername" class="input-fields-label">{{'MotherName' | translate }}</label>
                            <input type="text" formControlName="MotherName" class="input-properties" autocomplete="off"
                                (keydown)="HandleFirstPlaceSpace($event)" (keypress)="DenySpecialChar($event)"
                                maxlength="100" tabindex="0" id="mothername" placeholder="{{'MotherName' | translate }}"
                                pInputText />
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                            <label for="guardinname" class="input-fields-label">{{'GuardianName' | translate }}</label>
                            <input type="text" formControlName="GuardianName" class="input-properties"
                                autocomplete="off" tabindex="0" id="guardinname" maxlength="100"
                                (keydown)="HandleFirstPlaceSpace($event)" (keypress)="DenySpecialChar($event)"
                                placeholder="{{'GuardianName' | translate }}" pInputText />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                            <label for="passport" class="input-fields-label">{{'PassportNumber' | translate }}</label>
                            <input type="text" formControlName="PassportNumber" class="input-properties"
                                autocomplete="off" tabindex="0" id="passport" maxlength="10"
                                (keydown.space)="$event.preventDefault();" (keypress)="DenySpecialChar($event)"
                                placeholder="{{'PassportNumber' | translate }}" pInputText />
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                            <label for="adhaar" class="input-fields-label">{{'AdhaarCardNumber' | translate }}</label>
                            <input type="text" formControlName="AdhaarCardNumber"
                                (keydown.space)="$event.preventDefault();" (keypress)="NumberOnly($event)"
                                maxlength="12" class="input-properties" autocomplete="off" tabindex="0" id="adhaar"
                                (keypress)="DenySpecialChar($event)" placeholder="{{'AdhaarCardNumber' | translate }}"
                                pInputText />
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                            <label for="pancard" class="input-fields-label">{{'PANCardNumber' | translate }}</label>
                            <input type="text" formControlName="PANCardNumber" class="input-properties"
                                autocomplete="off" tabindex="0" id="pancard" (keydown.space)="$event.preventDefault();"
                                (keypress)="DenySpecialChar($event)" maxlength="10"
                                placeholder="{{'PANCardNumber' | translate }}" pInputText />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                            <label for="primarynumber" class="input-fields-label">{{'PrimaryContactNumber' |
                                translate}}<span class="asterisk">*</span></label>
                            <input type="text" formControlName="PrimaryContactNumber" class="input-properties"
                                autocomplete="off" tabindex="0" id="primarynumber"
                                (keydown.space)="$event.preventDefault();" maxlength="10"
                                (keypress)="DenySpecialChar($event)" (keypress)="NumberOnly($event)"
                                placeholder="{{'PrimaryContactNumber' | translate}}"
                                [ngClass]="{'is-invalid': submitted && userInfoControls.PrimaryContactNumber.errors}"
                                pInputText />
                            <div class="error-message"
                                *ngIf="submitted && userInfoControls.PrimaryContactNumber.errors">
                                <div *ngIf="userInfoControls.PrimaryContactNumber.errors.required">
                                    {{'PrimaryContactNumber' | translate }} {{requiredMessage}}
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                            <label for="secondrynumber" class="input-fields-label">{{'SecondryContactNumber' |
                                translate}}</label>
                            <input type="text" formControlName="SecondryContactNumber" class="input-properties"
                                autocomplete="off" tabindex="0" id="secondrynumber" (keypress)="DenySpecialChar($event)"
                                (keypress)="NumberOnly($event)" (keydown.space)="$event.preventDefault();"
                                maxlength="10" placeholder="{{'SecondryContactNumber' | translate}}" pInputText />
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                            <label for="landlinenumber" class="input-fields-label">{{'LandlineNumber' |
                                translate}}</label>
                            <input type="text" formControlName="LandlineNumber" class="input-properties"
                                autocomplete="off" tabindex="0" id="landlinenumber" (keypress)="DenySpecialChar($event)"
                                (keypress)="NumberOnly($event)" (keydown.space)="$event.preventDefault();"
                                maxlength="12" placeholder="{{'LandlineNumber' | translate}}" pInputText />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                            <label for="emergencynumber" class="input-fields-label">{{'EmergencyContactNumber' |
                                translate}}<span class="asterisk">*</span></label>
                            <input type="text" formControlName="EmergencyContactNumber" class="input-properties"
                                autocomplete="off" tabindex="0" id="emergencynumber"
                                (keypress)="DenySpecialChar($event)" (keypress)="NumberOnly($event)"
                                (keydown.space)="$event.preventDefault();" maxlength="12"
                                placeholder="{{'EmergencyContactNumber' | translate}}"
                                [ngClass]="{'is-invalid': submitted && userInfoControls.EmergencyContactNumber.errors}"
                                pInputText />
                            <div class="error-message"
                                *ngIf="submitted && userInfoControls.EmergencyContactNumber.errors">
                                <div *ngIf="userInfoControls.EmergencyContactNumber.errors.required">
                                    {{'EmergencyContactNumber' | translate }} {{requiredMessage}}
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                            <label for="emergencyname" class="input-fields-label">{{'EmergencyContactName' |
                                translate}}<span class="asterisk">*</span></label>
                            <input type="text" formControlName="EmergencyContactName" class="input-properties"
                                autocomplete="off" tabindex="0" id="emergencyname" maxlength="100"
                                placeholder="{{'EmergencyContactName' | translate}}"
                                (keypress)="DenySpecialChar($event)" (keydown)="HandleFirstPlaceSpace($event)"
                                [ngClass]="{'is-invalid': submitted && userInfoControls.EmergencyContactName.errors}"
                                pInputText />
                            <div class="error-message"
                                *ngIf="submitted && userInfoControls.EmergencyContactName.errors">
                                <div *ngIf="userInfoControls.EmergencyContactName.errors.required">
                                    {{'EmergencyContactName' | translate }} {{requiredMessage}}
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                            <label for="emailid" class="input-fields-label">{{'EmailId' | translate}}</label>
                            <input type="text" formControlName="EmailId" (keydown.space)="$event.preventDefault();"
                                maxlength="100" class="input-properties" autocomplete="off" tabindex="0" id="emailid"
                                placeholder="{{'EmailId' | translate}}" pInputText />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                            <label for="paddress" class="input-fields-label">{{'PermanentAddress' | translate}}</label>
                            <input type="text" formControlName="PermanentAddress" maxlength="200"
                                class="input-properties" autocomplete="off" tabindex="0" id="paddress"
                                (keydown)="HandleFirstPlaceSpace($event)"
                                placeholder="{{'PermanentAddress' | translate}}" pInputText />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                            <label for="loginname" class="input-fields-label">{{'LoginName' | translate}}<span
                                    class="asterisk">*</span></label>
                            <input type="text" formControlName="LoginName" class="input-properties" autocomplete="off"
                                tabindex="0" id="loginname" placeholder="{{'LoginName' | translate}}"
                                (keydown.space)="$event.preventDefault();" maxlength="20"
                                (keypress)="DenySpecialChar($event)"
                                [ngClass]="{'is-invalid': submitted && userInfoControls.LoginName.errors}" pInputText />
                            <div class="error-message" *ngIf="submitted && userInfoControls.LoginName.errors">
                                <div *ngIf="userInfoControls.LoginName.errors.required">
                                    {{'LoginName' | translate }} {{requiredMessage}}
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                            <label for="password" class="input-fields-label">{{'Password' | translate}}<span
                                    class="asterisk">*</span></label>
                            <input type="password" formControlName="Password" class="input-properties"
                                (keydown.space)="$event.preventDefault();" maxlength="200" autocomplete="off"
                                tabindex="0" id="password" placeholder="{{'Password' | translate}}"
                                [ngClass]="{'is-invalid': submitted && userInfoControls.Password.errors}" pInputText />
                            <div class="error-message" *ngIf="submitted && userInfoControls.Password.errors">
                                <div *ngIf="userInfoControls.Password.errors.required">
                                    {{'Password' | translate }} {{requiredMessage}}
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                            <label for="confirmpassword" class="input-fields-label">{{'ConfirmPassword' |
                                translate}}<span class="asterisk">*</span></label>
                            <input type="password" formControlName="PasswordConfirm"
                                (keydown.space)="$event.preventDefault();" maxlength="200" class="input-properties"
                                autocomplete="off" tabindex="0" placeholder="{{'ConfirmPassword' | translate}}"
                                id="confirmpassword"
                                [ngClass]="{'is-invalid': submitted && userInfoControls.PasswordConfirm.errors}"
                                pInputText />
                            <div class="error-message" *ngIf="submitted && userInfoControls.PasswordConfirm.errors">
                                <div *ngIf="userInfoControls.PasswordConfirm.errors.required">
                                    {{'PasswordConfirm' | translate }} {{requiredMessage}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                            <label for="roles" class="input-fields-label">{{'AllCentres' |translate}}<span class="asterisk">*</span></label>
                            <div *ngFor="let centre of centreList">
                                <mat-checkbox [checked]="centre.checked" value="centre.Id"
                                    (change)="GetCheckedCentres(centre.Id, $event.checked, 'Centres')">
                                    {{ centre.name }}
                                </mat-checkbox>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                            <label for="roles" class="input-fields-label">{{'AllRoles' |translate}}<span
                                    class="asterisk">*</span></label>
                            <div *ngFor="let role of roleList">
                                <mat-checkbox [checked]="role.checked" value="role.Id"
                                    (change)="GetCheckedRoles(role.Id, $event.checked, 'Roles')">
                                    {{ role.name }}
                                </mat-checkbox>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-2" *ngIf="showSaveResetButton">
                        <div class="col-12 col-sm-7 col-md-7">
                        </div>
                        <div class="col-12 col-sm-1 col-md-1">
                            <button pButton pRipple type="reset"
                                class="btn btn-success hand-cursor default-width margin-between-buttons" tabindex="0"
                                (click)="ResetPersonalInfoForm()">
                                <i class="fa fa-undo" aria-hidden="true"></i>
                                &nbsp;{{'Reset' | translate }}</button>
                        </div>
                        <div class="col-12 col-sm-2 col-md-2"></div>
                        <div class="col-12 col-sm-1 col-md-1">
                            <button pButton pRipple type="button"
                                class="btn btn-success hand-cursor default-width margin-between-buttons" tabindex="0"
                                (click)="SaveUserPersonalInfo()">
                                <i class="fa fa-save"></i>
                                &nbsp;{{'Save' | translate }}</button>
                        </div>
                    </div>
                </form>


            </mat-card-content>
        </mat-card>
    </div>

    <div class="container mt-2" *ngIf="showAllUsers">
        <mat-card>
            <mat-card-title class="strip-properties mb-4">{{'AllUsers' | translate }}</mat-card-title>
            <mat-card-content>
                <p-table #dataTable [value]="allUsers" [columns]="cols" [reorderableColumns]="true"
                    [resizableColumns]="true" columnResizeMode="expand" [paginator]="true" [rows]="rows"
                    [showCurrentPageReport]="true"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [rowsPerPageOptions]="rowsPerPageOptions" responsive="true">
                    <ng-template pTemplate="caption">
                        <div class="row mt-2">
                            <div class="col-sm-12 col-md-6">
                                <input type="text" autocomplete="off" tabindex="0" class="input-properties"
                                    class="p-inputtext-lg"
                                    (input)="dataTable.filterGlobal($event.target.value, 'contains')"
                                    placeholder="{{'Global Filter' | translate }}" pInputText />
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="btn-group downloadOptionWrap btn-align">
                                    <button type="submit" pButton pRipple class="btn btn-success p-button-rounded 
                                    hand-cursor margin-between-buttons dropdown-toggle" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        {{'DownloadData'|translate}}
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li>
                                            <button class="dropdown-item" type="button"
                                                (click)="ExportExcelVisibleData(dataTable)">
                                                <i class="fa fa-download mr-1"></i>
                                                &nbsp;{{'DownloadinExcel'|translate}}
                                            </button>
                                        </li>
                                        <li>
                                            <button class="dropdown-item" type="button"
                                                (click)="ExportPDFVisibleData(dataTable)">
                                                <i class="fa fa-download mr-1"></i> &nbsp; {{'DownloadinPDF'
                                                |translate}}
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th class="input-fields-label" *ngFor="let col of columns" [pSortableColumn]="col.field"
                                [ngStyle]="{'display' : col.display}" [pSortableColumn]="col.field" pReorderableColumn
                                pResizableColumn>
                                {{col.header}}
                                <p-sortIcon [field]="col.field"></p-sortIcon>
                            </th>
                            <th scope="col" class="input-fields-label text-center">{{'Action' |
                                translate }}</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-users let-columns="columns" let-editing="editing"
                        let-rowIndex="rowIndex">
                        <tr>
                            <td *ngFor="let col of columns" [ngStyle]="{'display' : col.display}">
                                {{users[col.field]}}
                            </td>
                            <td class="text-center">
                                <span class="fa fa-eye view-icon hand-cursor" tooltip="View"
                                    (click)="ViewUserMasterForm(users)"></span>
                                &nbsp; &nbsp;
                                <span class="fa fa-edit edit-icon hand-cursor" tooltip="Edit"
                                    (click)="EditUserMasterForm(users)"></span>
                                &nbsp; &nbsp;
                                <span class="fa fa-trash delete-icon hand-cursor" tooltip="Delete"
                                    (click)="DeleteUserConfirmation(users.userId)"></span>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </mat-card-content>
        </mat-card>
    </div>

    <p-confirmDialog [style]="{width: '30vw'}" styleClass="bgColorChange"></p-confirmDialog>

</div>