<div class="container page-container">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <button pButton pRipple type="submit" class="btn btn-success p-button-rounded 
                        hand-cursor  margin-between-buttons btn-align" tabindex="0" *ngIf="showAddButton"
                (click)="GetCentreMasterForm()">
                <span class="fa fa-plus"></span>
                &nbsp;{{'AddNewCentre' | translate }}</button>

            <button pButton pRipple type="submit" class="btn btn-success p-button-rounded 
                        hand-cursor margin-between-buttons btn-align" tabindex="0" *ngIf="showAllCentreButton"
                (click)="GetAllCentresList()">
                <i class="fa fa-arrow-up"></i>
                &nbsp;{{'AllCentres' | translate }}</button>

        </div>
    </div>

    <div class="container" *ngIf="showCentreMasterForm">
        <mat-card>
            <mat-card-title class="strip-properties mb-4">{{centreTitle}}</mat-card-title>
            <form [formGroup]="CentreMasterForm">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                        <label class="asterisk">{{'AllFieldRequired' | translate}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                        <label for="name" class="input-fields-label">{{'CentreName' | translate }}<span
                                class="asterisk">*</span></label>
                        <input type="text" formControlName="CentreName" class="input-properties" autocomplete="off"
                            tabindex="0" id="name" maxlength="100" (keypress)="DenySpecialChar($event)"
                            (keydown)="HandleFirstPlaceSpace($event)" placeholder="{{'CentreName' | translate }}"
                            [ngClass]="{'is-invalid': submitted && centreControls.CentreName.errors}" pInputText />
                        <div class="error-message" *ngIf="submitted && centreControls.CentreName.errors">
                            <div *ngIf="centreControls.CentreName.errors.required">
                                {{'CentreName' | translate }} {{requiredMessage}}
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                        <label for="code" class="input-fields-label">{{'CentreCode' | translate }}</label>
                        <input type="text" formControlName="CentreCode" class="input-properties" autocomplete="off"
                            maxlength="10" (keypress)="DenySpecialChar($event)"
                            (keydown.space)="$event.preventDefault();" placeholder="{{'CentreCode' | translate }}"
                            tabindex="0" id="code" pInputText />
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                        <label for="website" class="input-fields-label">{{'Website' | translate }}</label>
                        <input type="text" formControlName="Website" class="input-properties"
                            (keydown.space)="$event.preventDefault();" autocomplete="off" maxlength="100"
                            placeholder="{{'Website' | translate }}" tabindex="0" id="website" pInputText />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                        <label for="email" class="input-fields-label">{{'EmailId' | translate }}<span
                                class="asterisk">*</span></label>
                        <input type="text" formControlName="EmailId" maxlength="100"
                            (keydown.space)="$event.preventDefault();" class="input-properties" autocomplete="off"
                            placeholder="{{'EmailId' | translate }}" tabindex="0" id="email"
                            [ngClass]="{ 'is-invalid': submitted && (centreControls.EmailId.errors )}" pInputText />
                        <div *ngIf="submitted" class="error-message">
                            <div *ngIf="centreControls.EmailId.errors?.required" class="text-danger">
                                {{'EmailId' | translate }} {{requiredMessage}}
                            </div>
                            <div *ngIf="centreControls.EmailId.errors?.email || centreControls.EmailId.errors?.pattern"
                                class="text-danger">
                                {{'EmailId' | translate }} not valid
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                        <label for="mobile" class="input-fields-label">{{'MobileNumber' | translate }}<span
                                class="asterisk">*</span></label>
                        <input type="text" formControlName="MobileNumber" class="input-properties"
                            (keypress)="NumberOnly($event)" maxlength="10" autocomplete="off"
                            placeholder="{{'MobileNumber' | translate }}" tabindex="0" id="mobile"
                            (keydown.space)="$event.preventDefault();" (keypress)="DenySpecialChar($event)"
                            [ngClass]="{'is-invalid': submitted && centreControls.MobileNumber.errors}" pInputText />
                        <div class="error-message" *ngIf="submitted && centreControls.MobileNumber.errors">
                            <div *ngIf="centreControls.MobileNumber.errors.required">
                                {{'MobileNumber' | translate }} {{requiredMessage}}
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 form-group">
                        <label for="landline" class="input-fields-label">{{'LandlineNumber' | translate }}</label>
                        <input type="text" formControlName="LandlineNumber" class="input-properties" autocomplete="off"
                            maxlength="12" (keydown.space)="$event.preventDefault();"
                            placeholder="{{'LandlineNumber' | translate }}" tabindex="0" id="landline" pInputText />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 form-group">
                        <label for="email" class="input-fields-label">{{'Address' | translate }}</label>
                        <input type="text" maxlength="200" formControlName="Address" class="input-properties"
                            autocomplete="off" (keydown)="HandleFirstPlaceSpace($event)" tabindex="0" id="address"
                            placeholder="{{'Address' | translate }}" pInputText />
                    </div>
                </div>

                <div class="row" *ngIf="showSaveResetButton">
                    <div class="col-12 col-sm-7 col-md-7"></div>
                    <div class="col-12 col-sm-1 col-md-1">
                        <button pButton pRipple type="reset"
                            class="btn btn-success hand-cursor default-width margin-between-buttons" tabindex="0"
                            (click)="ResetCentreMasterForm()"> <i class="fa fa-undo" aria-hidden="true"></i>
                            &nbsp;{{'Reset' |translate }}</button>
                    </div>
                    <div class="col-12 col-sm-2 col-md-2"></div>
                    <div class="col-12 col-sm-1 col-md-1">
                        <button pButton pRipple type="submit"
                            class="btn btn-success hand-cursor default-width margin-between-buttons" tabindex="0"
                            (click)="SaveCentreInformation()">
                            <i class="fa fa-save"></i>
                            &nbsp;{{'Save' | translate }}</button>
                    </div>
                </div>

            </form>
        </mat-card>
    </div>

    <div class="container mt-2" *ngIf="showAllCentres">
        <mat-card>
            <mat-card-title class="strip-properties mb-4">{{'AllCentres' | translate }}</mat-card-title>
            <mat-card-content>
                <p-table #dataTable [columns]="cols" [value]="centres" [paginator]="true" [rows]="rows"
                    [rowsPerPageOptions]="rowsPerPageOptions" [showCurrentPageReport]="true"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" pageLinks="3"
                    [reorderableColumns]="true" [resizableColumns]="true" responsive="true">
                    <ng-template pTemplate="caption">

                        <div class="row mt-2">
                            <div class="col-sm-12 col-md-6">
                                <input type="text" autocomplete="off" tabindex="0" class="input-properties"
                                    class="p-inputtext-lg"
                                    (input)="dataTable.filterGlobal($event.target.value, 'contains')"
                                    placeholder="{{'Global Filter' | translate }}" pInputText />
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="btn-group downloadOptionWrap btn-align">
                                    <button type="submit" pButton pRipple class="btn btn-success p-button-rounded 
                                    hand-cursor margin-between-buttons dropdown-toggle" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        {{'DownloadData'|translate}}
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li>
                                            <button class="dropdown-item" type="button"
                                                (click)="ExportExcelVisibleData(dataTable)">
                                                <i class="fa fa-download mr-1"></i>
                                                &nbsp;{{'DownloadinExcel'|translate}}
                                            </button>
                                        </li>
                                        <li>
                                            <button class="dropdown-item" type="button"
                                                (click)="ExportPDFVisibleData(dataTable)">
                                                <i class="fa fa-download mr-1"></i>&nbsp; {{'DownloadinPDF' |translate}}
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </ng-template>
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th class="input-fields-label" *ngFor="let col of columns" [pSortableColumn]="col.field"
                                [ngStyle]="{'display' : col.display}" [pSortableColumn]="col.field" pReorderableColumn
                                pResizableColumn>
                                {{col.header}}
                                <p-sortIcon [field]="col.field"></p-sortIcon>
                            </th>
                            <th scope="col" class="text-centre-align input-fields-label">{{'Action' |
                                translate }}</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-centres let-columns="columns" let-editing="editing"
                        let-rowIndex="rowIndex">
                        <tr>
                            <td *ngFor="let col of columns" [ngStyle]="{'display' : col.display}">
                                {{centres[col.field]}}
                            </td>
                            <td class="text-center">
                                <span class="fa fa-eye view-icon hand-cursor" tooltip="View"
                                    (click)="ViewCentreMasterForm(centres)"></span>
                                &nbsp; &nbsp;
                                <span class="fa fa-edit edit-icon hand-cursor" tooltip="Edit"
                                    (click)="EditCentreMasterForm(centres)"></span>
                                &nbsp; &nbsp;
                                <span class="fa fa-trash delete-icon hand-cursor" tooltip="Delete"
                                    (click)="DeleteCentreConfirmation(centres.centreId)"></span>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </mat-card-content>
        </mat-card>
    </div>



    <p-confirmDialog [style]="{width: '30vw'}" styleClass="bgColorChange"></p-confirmDialog>
</div>