<header>
    <div class="header-propeties">
        <div class="row">
            <div class="col-12 col-md-3 col-xl-3">
                Welcome <span style="font:bold;color:blue">{{userName}}</span>
            </div>
            <div class="col-12 col-md-3 col-xl-3">
                Centre Name: {{centreName}}
            </div>
            <div class="col-12 col-md-2 col-xl-2">
                <p-dropdown [options]="roleList" class="input-properties" tabindex="0" id="role" optionLabel="value"
                    optionValue="label" (onChange)="GetSelectedRole($event)"></p-dropdown>
            </div>
            <div class="col-12 col-md-1 col-xl-1">
                <span class="form-inline">
                    <select class="form-control" #selectedLang (change)="switchLang(selectedLang.value)">
                        <option *ngFor="let language of translateService.getLangs()" [value]="language"
                            [selected]="language === translateService.currentLang">
                            {{ language }}
                        </option>
                    </select>
                </span>
            </div>
            <div class="col-12 col-md-1 col-xl-1 logout-img" (click)="LogOut()">
            </div>
        </div>
    </div>
    <div class="topBarWrap">
        <div class="riteSide">
            <div class="userProfile d-block d-sm-none" (click)="ToggleDisplay()">
                <i aria-hidden="true" class="fas fa-user-circle"></i>
            </div>
            <nav class="navbar navbar-expand-md navbar-dark" aria-label="Toggle navigation">
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false">
                    <div class="nav-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </button>
            </nav>
        </div>
    </div>
    <nav class="navbar navbar-expand-md navbar-dark" aria-label="navbarTogglerDemo01">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <ul class="navbar-nav me-auto mb-lg-0" *ngIf="showAdminHeader">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarScrollingDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Masters
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                            <li>
                                <a class="dropdown-item" aria-current="page" routerLink="Admin/CentreMaster"
                                    (click)="GetCentreMaster()">Centre
                                    Master</a>
                            </li>
                            <li>
                                <a class="dropdown-item" (click)="GetConfigMaster()">Configuration Master</a>
                            </li>
                            <li>
                                <a class="dropdown-item" (click)="GetRoleMaster()">Role Master</a>
                            </li>
                            <li>
                                <a class="dropdown-item" (click)="GetUserMaster()">User Master</a>
                            </li>


                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarScrollingDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Audit Trail
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                            <li>
                                <a class="dropdown-item" routerLink="/sow/audit">SOW Master Audit</a>
                            </li>
                        </ul>
                    </li>
                </ul>

                <ul class="navbar-nav me-auto mb-lg-0" *ngIf="showProcurementHeader">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarScrollingDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Procurement
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                            <li>
                                <a class="dropdown-item" aria-current="page">
                                    Procurement Process</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>