<div class="bgimg">

  <div class="row">
  </div>
  <div class="row  login-section">
    <mat-card>     
      <div class="row mt-2">
        <div class="col-xs-12 col-sm-12 col-md-6 form-group logo-img"></div>
        <div class="col-xs-12 col-sm-12 col-md-6 form-group">
          <mat-card-title class="login-heading-color input-properties">{{'UserLogin' | translate }}</mat-card-title>
        </div>
      </div>
      <mat-card-content>
        <div class="text-center">
          <span *ngIf="incorrectCredentials" class="text-danger error-message">
            <i class="fa fa-warning"></i><span> {{'IncorrectCredentials' | translate}}</span></span>
        </div>
        <form [formGroup]="LoginForm">
          <div class="row login-controls-margin">
            <div class="col-xs-12 col-sm-12 col-md-12 form-group">
              <label for="centre" class="input-fields-label" for="centre
            ">{{'CentreName' | translate }}<span class="asterisk">*</span></label>
              <p-dropdown [options]="CentreList" formControlName="Centre" class="input-properties" tabindex="0"
                id="centre" optionLabel="value" optionValue="label" (keydown.space)="$event.preventDefault();"
                [ngClass]="{'is-invalid': submitted && loginControls.Centre.errors}"></p-dropdown>
              <div class="error-message" *ngIf="submitted && loginControls.Centre.errors">
                <div *ngIf="loginControls.Centre.errors.required">
                  {{'CentreName' | translate }} {{requiredMessage}}
                </div>
              </div>
            </div>
          </div>

          <div class="row login-controls-margin">
            <div class="col-xs-12 col-sm-12 col-md-12 form-group">
              <label for="username" class="input-fields-label">{{'UserName' | translate }}<span
                  class="asterisk">*</span></label>
              <input type="text" formControlName="LoginName" class="input-properties" maxlength="50" autocomplete="off"
                placeholder="{{'UserName' | translate }}" tabindex="0" id="username"
                [ngClass]="{'is-invalid': submitted && loginControls.LoginName.errors}"
                (keydown.space)="$event.preventDefault();" pInputText />
              <div class="error-message" *ngIf="submitted && loginControls.LoginName.errors">
                <div *ngIf="loginControls.LoginName.errors.required">
                  {{'UserName' | translate }} {{requiredMessage}}
                </div>
              </div>
            </div>
          </div>

          <div class="row login-controls-margin">
            <div class="col-xs-12 col-sm-12 col-md-12 form-group">
              <label for="password" class="input-fields-label">{{'Password' | translate }}<span
                  class="asterisk">*</span></label>
              <input type="password" formControlName="Password" class="input-properties" maxlength="50"
                autocomplete="off" placeholder="{{'Password' | translate }}" tabindex="0" id="password"
                (keydown.space)="$event.preventDefault();" pInputText />
              <div class="error-message" *ngIf="submitted && loginControls.Password.errors">
                <div *ngIf="loginControls.Password.errors.required">
                  {{'Password' | translate }} {{requiredMessage}}
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 form-group">
              <button pButton pRipple type="button" class="btn btn-success p-button-rounded p-button-success
            login-button-padding hand-cursor login-controls-margin btn-align" tabindex="0" (click)="Login()">{{'Login'
                |
                translate }}</button>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>