$color-primary:  #294587;
$color-secondary: #b78c00;


$white: #ffffff;
$black: #000000;

$grey-10: #2e2e31;
$grey-6: #7b7a7d;
$grey-5: #ced4da;
$grey-4: #dee2e6;
$grey-3: #a5a5a6;
$grey-2: #bbbbbc;
$grey-1: #eee;

$blue-color-primary: rgba(10, 31, 80, 0.8);

$text-link-color: #294587;
$text-link-hover-color: #b78c00;

$menu-bgcolor-primary: #294587;
$menu-bgcolor-primary-hover: #93aadb;
$menu-bgcolor-subMenu-level-1: #93a1c3;
$menu-bgcolor-secondary: #E8B70C;
$menu-border-color-primary: #030303;

$body-color: #eeeceb;

//message color shades
$color-onHold: #ffbf00;
$color-warning: #f39c12;
$color-danger: #dc3545;
$color-info: #00c0ef;
$color-success:#198754;// #00a65a;

//button scheme
$btn-primary: #294587;
$btn-primary-hover: #355ebc;
$btn-download: #c9a940;
$btn-download-hover: #edc949;

$label-color:  rgba(10, 31, 80, 0.8);
$border-color: #ced4da;
$form-disabled-color: #ebebee;

$filter-header-bg: #c9d5ed;

$dialog-header-bg: #c9d5ed;

//table scheme
$table-head-color: #e8b80d;
$table-head-hover-color: #b78c00;

$calendar-control-bgColor: #c9d5ed;
$theme-blue-color:midnightblue;
$page-container-color:whitesmoke;
$confirmation-box-bg:antiquewhite