@import '../scss/color';
@import '../scss/typography';
@import '../scss/bootstrapOverride';
@import '../scss/formElement';
@import '../scss/primengOverride';
@import '../scss/grid';
@import '../scss//dialog';

// global style start
.mandatoryField {
    color: $color-danger;
}
a{
    color: $text-link-color;
    text-decoration: none;
    
    &:hover{
        color: $text-link-hover-color;
    }

}
// global style end