
<div class="web-container">
<app-loader></app-loader>
    <div>
    <app-header>
      <meta name="viewport" content="width=device-width, initial-scale=1">
    </app-header>
    </div>
  
    <router-outlet></router-outlet>
  
  </div>